.cardTrendiingMovies {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 572px;
  background-size: cover;
  background-position: center;
}

.containerWrapper {
  width: auto;
  max-width: 400px;
  margin-top: 64px;
  padding-left: 96px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
}

.ratingContainer {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.ratingIcon {
  width: 24px;
  height: 24px;
}

.ratingWrapper {
  display: flex;
}

.subTitle {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.loadingState {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(141, 141, 141, 0.8);
  z-index: 2;
}

.errorState {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media query */
@media (max-width: 900px) {
  .containerWrapper {
    padding: 56px;
  }
}

@media (max-width: 600px) {
  .imageHomeMovie {
    height: 400px;
  }

  .containerWrapper {
    width: auto;
    padding: 128px 24px 16px;
  }

  .title {
    font-size: 24px;
  }
}
