.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.title {
  white-space: nowrap;
  font-size: 2.25rem;
  font-weight: 700;
}

/* media quer */
@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }

  .moreBtn {
    display: none;
  }
}
