.container {
  background-color: #fff;
  padding: 40px 72px 72px;
}

.imgContainer {
  position: relative;
}

img.imageBg {
  object-fit: cover;
  width: 100%;
  height: 450px;
  border-radius: 8px;
}

.videoFrame {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: none;
}

.pageContent {
  display: flex;
  gap: 20px;
  margin-top: 32px;
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #333333;
}

.movieInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 1rem;
  white-space: nowrap;
  font-weight: 600;
  color: #be123c;
}

.title {
  display: inline-block;
  width: max-content;
  background-color: #7fffd4;
  padding: 4px;
}

.ratingIconContainer {
  display: flex;
  gap: 4px;
  font-size: 1rem;
  font-weight: 600;
  color: #be123c;
}

.ratingIcon {
  width: 20px;
  height: 20px;
}

.ratingWrapper {
  display: flex;
}

.overview {
  font-size: 1rem;
}

h4 {
  display: inline-block;
  width: max-content;
  padding: 4px;
  background-color: #7fffd4;
  color: #be123c;
}

.crewContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mainConainerCrew {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: 500;
}

.infoContainer {
  display: flex;
  gap: 8px;
}

.infoProfile {
  text-align: center;
  font-weight: 500;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.castContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mainConainerCast {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  font-size: 0.875rem;
  font-weight: 500;
}

.imgProfile {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.errorState {
  font-size: 1rem;
  font-weight: 600;
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loadingState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 100vh;
}

.loadingSpinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #be123c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.loadingText {
  font-size: 0.875rem;
  font-weight: 600;
}

@media (max-width: 900px) {
  .container {
    padding-left: 56px;
    padding-right: 56px;
  }
}

@media (max-width: 600px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .pageContent {
    flex-direction: column;
  }

  .imageBgPoster {
    display: none;
  }

  .overview {
    padding-bottom: 16px;
    border-bottom: 2px solid #be123c;
  }

  .crewContainer {
    padding-bottom: 16px;
    border-bottom: 2px solid #be123c;
  }
}
