.cardWrapper {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  position: relative;
}

.image {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.firstwrapper {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  color: #9ca3af;
}

.release {
  padding-left: 4px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: #111827;
}

.ratingContainer {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  gap: 10px;
  color: #111827;
}

.ratingIcon {
  width: 35px;
  height: 17px;
}

.genres {
  font-size: 12px;
  font-weight: 700;
  color: #9ca3af;
}

.favoriteBtn {
  position: absolute;
  right: 0;
  margin: 24px;
  cursor: pointer;
}

.favoriteIcon {
  width: 32px;
  height: 32px;
}

.loadingState {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorState {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media query */
@media (max-width: 600px) {
  .card {
    flex-grow: 1;
  }
  .image {
    width: 100%;
  }
}
