.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 16px 72px;
}

.logoText {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.btnNavDesktop {
  display: flex;
  align-items: center;
  gap: 24px;
}

.btnNavMobile {
  display: none;
}

.iconWrapper {
  display: block;
  width: 40px;
  height: 40px;
}

.menuIcon {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

/* media query */
@media (max-width: 900px) {
  .headerContainer {
    padding-right: 56px;
    padding-left: 56px;
  }
}

@media (max-width: 600px) {
  .headerContainer {
    padding-right: 24px;
    padding-left: 24px;
  }

  .logoText {
    display: none;
  }

  .btnNavDesktop {
    display: none;
  }

  .btnNavMobile {
    display: block;
    padding: 4px;
  }
}
