.wrapperContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-top: 128px;
  margin-bottom: 72px;
}

.mediaContainer {
  display: flex;
  gap: 48px;
}

.smIcon {
  width: 24px;
  height: 24px;
  color: #111827;
}

.copyRightText {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #6b7280;
}

/* media query */
@media (max-width: 600px) {
  .wrapperContainer {
    margin-top: 72px;
    margin-bottom: 56px;
  }
}
