a {
  text-decoration: none;
}

.body {
  margin: 0;
}

.containerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 44px;
  padding: 24px 96px;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 80px;
}

.mobileNav {
  display: none;
}

.mobileNavBtn {
  justify-content: center;
  padding: 24px;
}

#root {
  display: flex;
}

/* media query */
@media (max-width: 900px) {
  .containerWrapper {
    padding: 56px 56px;
  }
}
@media (max-width: 600px) {
  .containerWrapper {
    padding: 24px 24px;
    gap: 32px;
  }

  .cardWrapper {
    gap: 56px;
  }

  .mobileNav {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
}
