.body {
  margin: 0;
}

.containerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 44px;
  padding: 24px 96px;
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}

.mobileNav {
  display: none;
}

.mobileNavBtn {
  justify-content: center;
  padding: 24px;
}

#root {
  display: flex;
}

/* media query */
@media (max-width: 600px) {
  .containerWrapper {
    padding: 24px 24px;
    gap: 32px;
  }

  .cardWrapper {
    gap: 48px;
  }

  .mobileNav {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
}
